<div class="message-header">
<h2>{{genre.name}}</h2>
</div>
<div class="container">
    <p>Artists in this genre:</p>
    <div class="card">
  <div class="card-content">
    <div class="content">
    <ul id="genre-{{genre.id}}" class="songs-list">
        {{#each genre.artists as |artist| }}
            <li>
                <h3><a href="/artists/{{artist.id}}">{{artist.name}}</a></h3>
                <p><img class="image" id="artist-{{artist.id}}-image" src="{{artist.imgur_url}}" alt="{{artist.name}} Image" /></p>
                <ul id="artist-{{artist.id}}-songs" class="songs-list">
                {{#each artist.songs as |song|}}
                    <li>
                    {{#if ../../logged_in}}
                        <a class="btn btn-sm btn-info" href="/playlists/addSong/{{song.id}}"><span
                            class="material-icons-outlined">playlist_add</span></a>
                    {{/if}}
                    <a href="/songs/{{song.id}}">{{song.name}}</a> by <a
                        href="/artists/{{artist.id}}">{{artist.name}}</a>
                    </li>
                {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
      </div>
</div>   
    </div>
</div>