<div>
<div class="message-header">
    <h3> <a href="/songs/{{song.id}}">{{song.name}}</a> by <a
            href="/artists/{{song.artists.[0].id}}">{{song.artists.[0].name}}</a> </h3>
            </div>
                <div class="card">
  <div class="card-content">
    <div class="content">
    <p><img id="song-image-{{song.id}}" class="image" src="{{song.imgur_url}}" alt="{{song.name}} Image" /></p>
    {{#if logged_in}}
    <a class="btn btn-sm btn-info" href="/playlists/addSong/{{song.id}}"><span
            class="material-icons-outlined">playlist_add</span> add to playlist</a>

    {{/if}}
      </div>
    </div>
</div>   
</div>