<div class="message-header">
<h2>{{playlist.name}}</h2>
<p>{{playlist.description}}</p>
</div>
    <div class="card">
  <div class="card-content">
    <div class="content">
<ul id="playlist-songs-{{playlist.name}}">
    {{#each playlist.songs as |song|}}
    <li>
        {{#if ../logged_in}}
            <a class="btn btn-sm btn-info" href="/playlists/addSong/{{song.id}}"><span
                class="material-icons-outlined">playlist_add</span></a>
        {{/if}}
        {{#if ../isMine}}
            <a class="btn btn-sm btn-danger" href="/playlists/removeSong/{{../playlist.id}}/{{song.id}}"><span
                class="material-icons-outlined">playlist_remove</span></a>
        {{/if}}
        <a href="/songs/{{song.id}}">{{song.name}}</a> by <a
            href="/artists/{{song.artists.[0].id}}">{{song.artists.[0].name}}</a>
    </li>
    {{/each}}
</ul>
      </div>
        </div>
    </div>